body 
{
	margin: 0px;
	background: linear-gradient(45deg, #49a09d, #5f2c82);	
	background-attachment: fixed;
}

h3
{
	color : #333;
	font-family: "Poppins";
}

label
{
	color: #333;
}
.wrapper
{
	background-color: rgba( 255,255, 255, 0.5); /* transparent white */
   	color:white;
   	border-radius: 15px;
   	padding: 10px;
   	width: 700px;
	overflow: hidden;
  	align-items: center;
  	justify-content: center;	
  	margin: 0 auto;
}

.container_nb 
{
	position: relative;
	float: left;
	width: 33.33%;
	padding: 5px;
}

.container_nb img 
{
	width: 100%;
	border-radius: 15px;
	position: relative;
}

.btn 
{
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid black;
	background-color: transparent;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transition: 0.5s;
	font-size: 16px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 7px;
	padding: 5px 38px;
}

.btn2 {
  background-color: #7a19b3;
  border: none;
  border-radius: 5px;
  width: 55px;
  padding: 1px;
  text-align: center;
  font-weight: 100;
  color: #fff;
  margin: 2px 0px;
  transition: 0.5s;
}

.btn2:hover {
  background-color: #c279ec;
  color: white;
}

.btn3 {
  background-color: #fc4929;
  border: none;
  border-radius: 5px;
  width: 55px;
  padding: 1px;
  text-align: center;
  font-weight: 100;
  color: #fff;
  margin: 2px 0px;
  transition: 0.5s;
}

.btn3:hover {
  background-color:  #fc694f;
  color: white;
}
.outline 
{
	border-color: #fff;
	color: white;
}
.outline:hover 
{
	background-color: rgba( 255,255, 255, 0.5);
	color: white;
}

hr
{
	border-color: black;
}

.out_wrap
{
	float: right;
	margin-top: 50px;
}

/* Table Form Section */ 
.form-style-9
{
	max-width: 550px;
	background-color: rgba( 255,255, 255, 0.6);
	padding: 30px;
	margin: 20px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 2px solid #5e13a0;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #333;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	color: #333;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 69%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #f69314;
  	border: none;
  	border-radius: 25px;
  	padding: 0px 35px;
  	text-align: center;
 	font-weight: 100;
  	color: #333;
  	margin: 4px 2px;
  	transition: 0.3s;
  	width: 150px;
  	height: 30px;}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover 
{
	background-color: #333;
  	color: white;
}

.btn1 {
  background-color: #333;
  border: none;
  border-radius: 5px;
  width: 155px;
  padding: 10px;
  text-align: center;
  font-weight: 100;
  color: #fff;
  margin: 2px 2px;
  transition: 0.3s;
}

.btn1:hover {
  background-color: #7a19b3;
  color: white;
}

.btn4 {
  background-color: #6699ff;
  border: none;
  border-radius: 5px;
  width: 112px;
  height: 33px;
  text-align: center;
  font-weight: 100;
  color: #fff;
  margin: 2px 2px;
  transition: 0.3s;
  margin-top: -0px;
  float: right;
  margin-right: 2.9cm;
}

.btn4:hover {
  background-color: #7a19b3;
  color: white;
}


table
{
	margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
  	overflow: hidden;
 	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 	max-width: 503px;
 	border-radius: 1px;
}

thead th
{
	text-align: center;
}

td, th 
{
    border: 1px solid #333;
    text-align: left;
    padding: 8px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.4);
}

/*search*/
form {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 2.6cm;
}

form > .textbox {
  outline: 0;
  height: 32px;
  width: 440px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

form > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 32px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

form > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
}