body 
{
	margin: 0px;
	background: linear-gradient(45deg, #49a09d, #5f2c82);	
	background-attachment: fixed;
}

h3, h4
{
	color : #333;
	font-family: "Poppins";
}

label
{
	color: #333;
}
.wrapper
{
	background-color: rgba( 255,255, 255, 0.5); /* transparent white */
   	color:white;
   	border-radius: 15px;
   	padding: 10px;
   	width: 700px;
	overflow: hidden;
  	align-items: center;
  	justify-content: center;	
  	margin: 0 auto;
}

.container_nb 
{
	position: relative;
	float: left;
	width: 33.33%;
	padding: 5px;
}

.container_nb img 
{
	width: 100%;
	border-radius: 15px;
	position: relative;
}

.btn 
{
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid black;
	background-color: transparent;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transition: 0.5s;
	font-size: 16px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 7px;
	padding: 5px 38px;
}

.btn1 {
  background-color: #333;
  border: none;
  border-radius: 5px;
  width: 155px;
  padding: 10px;
  text-align: center;
  font-weight: 100;
  color: #fff;
  margin: 2px 2px;
  transition: 0.3s;
}

.btn1:hover {
  background-color: #7a19b3;
  color: white;
}

.outline 
{
	border-color: #fff;
	color: white;
}
.outline:hover 
{
	background-color: rgba( 255,255, 255, 0.5);
	color: white;
}

hr
{
	border-color: black;
}

.out_wrap
{
	float: right;
	margin-top: 50px;
}

/* Table Form Section */ 
.form-style-9
{
	max-width: 550px;
	background-color: rgba( 255,255, 255, 0.6);
	padding: 30px;
	margin: 20px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 2px solid #5e13a0;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #333;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	color: #333;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 69%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #f69314;
  	border: none;
  	border-radius: 25px;
  	padding: 0px 35px;
  	text-align: center;
 	font-weight: 100;
  	color: #333;
  	margin: 4px 2px;
  	transition: 0.3s;
  	width: 150px;
  	height: 30px;}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover 
{
	background-color: #333;
  	color: white;
}

